<div class="sidebar-menu" >
  <form id="city-form" >
    <input type="text" class="city-input" placeholder="Nome de uma cidade" >
  </form>

  <div class="suggestion-cities" ></div>
  <hr>

  <div class="city-information" >
    <p class="caption" >City Details</p>
    <div class="field name" >
      <p class="title" >City Name</p>
      <p class="data" ></p>
    </div>
    <div class="field temperature" >
      <p class="title" >Temperature</p>
      <p class="data" ></p>
    </div>
    <div class="field datetime" >
      <p class="title" >Date & Time</p>
      <p class="data" ></p>
    </div>
    <div class="field conditions" >
      <p class="title" >Current Conditions</p>
      <p class="data" ></p>
    </div>
  </div>
</div>